<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Database</h1>
    <table class="table table-striped">
        <tr>
            <th>Sr no</th>
            <th>vehicle No</th>
            <th>Vehicle Type</th>
            <th>Entry Time</th>
            <th>Exit Time</th>
            <th>Amount Charged</th>
            <th>Status</th>

        </tr>
        <% entrydata.forEach((result)=>{ %>
        <tr>
            <td>1</td>
            <td><%= result.vehicleno %></td>
            <td><%= result.vehicletype%></td>
            <td><%= result.entrytime %></td>
            <td><%= result.exittime %></td>
            <td><%= result.amount %></td>
            <td><a href="/update/<%= result.id %>"> <%= result.status %> </a></td>

        </tr>
        <% }) %>
      </table>
</body>
</html>